<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="detentorAnexoArquivo">
      <h2 data-cy="detentorAnexoArquivoDetailsHeading"><span>Detentor Anexo Arquivo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ detentorAnexoArquivo.id }}</span>
        </dd>
        <dt><span>Data Criacao</span></dt>
        <dd>
          <span>{{ detentorAnexoArquivo.dataCriacao | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Licenca</span></dt>
        <dd>
          <div *ngIf="detentorAnexoArquivo.licenca">
            <a [routerLink]="['/licenca', detentorAnexoArquivo.licenca.id, 'view']">{{ detentorAnexoArquivo.licenca.id }}</a>
          </div>
        </dd>
        <dt><span>Usuario Criador</span></dt>
        <dd>
          <div *ngIf="detentorAnexoArquivo.usuarioCriador">
            <a [routerLink]="['/usuario', detentorAnexoArquivo.usuarioCriador.id, 'view']">{{ detentorAnexoArquivo.usuarioCriador.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/detentor-anexo-arquivo', detentorAnexoArquivo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
