<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="plano">
      <h2 data-cy="planoDetailsHeading"><span>Plano</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ plano.id }}</span>
        </dd>
        <dt><span>Codigo</span></dt>
        <dd>
          <span>{{ plano.codigo }}</span>
        </dd>
        <dt><span>Data Criacao</span></dt>
        <dd>
          <span>{{ plano.dataCriacao | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Descricao</span></dt>
        <dd>
          <span>{{ plano.descricao }}</span>
        </dd>
        <dt><span>Ativo</span></dt>
        <dd>
          <span>{{ plano.ativo }}</span>
        </dd>
        <dt><span>Usuario Criador</span></dt>
        <dd>
          <div *ngIf="plano.usuarioCriador">
            <a [routerLink]="['/usuario', plano.usuarioCriador.id, 'view']">{{ plano.usuarioCriador.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/plano', plano.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
