<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pessoa-fisica-heading" data-cy="PessoaFisicaCreateUpdateHeading">Create or edit a Pessoa Fisica</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomeCompleto">Nome Completo</label>
          <input
            type="text"
            class="form-control"
            name="nomeCompleto"
            id="field_nomeCompleto"
            data-cy="nomeCompleto"
            formControlName="nomeCompleto"
          />
          <div
            *ngIf="editForm.get('nomeCompleto')!.invalid && (editForm.get('nomeCompleto')!.dirty || editForm.get('nomeCompleto')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('nomeCompleto')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('nomeCompleto')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_cpf">Cpf</label>
          <input type="text" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
          <div *ngIf="editForm.get('cpf')!.invalid && (editForm.get('cpf')!.dirty || editForm.get('cpf')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cpf')?.errors?.maxlength">
              This field cannot be longer than 14 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_rg">Rg</label>
          <input type="text" class="form-control" name="rg" id="field_rg" data-cy="rg" formControlName="rg" />
          <div *ngIf="editForm.get('rg')!.invalid && (editForm.get('rg')!.dirty || editForm.get('rg')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rg')?.errors?.maxlength">
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dataNascimento">Data Nascimento</label>
          <div class="d-flex">
            <input
              id="field_dataNascimento"
              data-cy="dataNascimento"
              type="datetime-local"
              class="form-control"
              name="dataNascimento"
              formControlName="dataNascimento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pessoaFisicaLicenca">Pessoa Fisica Licenca</label>
          <select
            class="form-control"
            id="field_pessoaFisicaLicenca"
            data-cy="pessoaFisicaLicenca"
            name="pessoaFisicaLicenca"
            formControlName="pessoaFisicaLicenca"
            [compareWith]="compareLicenca"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="licencaOption" *ngFor="let licencaOption of licencasSharedCollection">{{ licencaOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
