<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="grupoPermissoes">
      <h2 data-cy="grupoPermissoesDetailsHeading"><span>Grupo Permissoes</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ grupoPermissoes.id }}</span>
        </dd>
        <dt><span>Codigo</span></dt>
        <dd>
          <span>{{ grupoPermissoes.codigo }}</span>
        </dd>
        <dt><span>Data Criacao</span></dt>
        <dd>
          <span>{{ grupoPermissoes.dataCriacao | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Descricao</span></dt>
        <dd>
          <span>{{ grupoPermissoes.descricao }}</span>
        </dd>
        <dt><span>Licenca</span></dt>
        <dd>
          <div *ngIf="grupoPermissoes.licenca">
            <a [routerLink]="['/licenca', grupoPermissoes.licenca.id, 'view']">{{ grupoPermissoes.licenca.id }}</a>
          </div>
        </dd>
        <dt><span>Usuario Criador</span></dt>
        <dd>
          <div *ngIf="grupoPermissoes.usuarioCriador">
            <a [routerLink]="['/usuario', grupoPermissoes.usuarioCriador.id, 'view']">{{ grupoPermissoes.usuarioCriador.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/grupo-permissoes', grupoPermissoes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
