<div>
  <h2 id="page-heading" data-cy="PessoaFisicaHeading">
    <span>Pessoa Fisicas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pessoa-fisica"
        [routerLink]="['/pessoa-fisica/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Pessoa Fisica </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pessoaFisicas?.length === 0">
    <span>No Pessoa Fisicas found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pessoaFisicas && pessoaFisicas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomeCompleto">
            <div class="d-flex">
              <span>Nome Completo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cpf">
            <div class="d-flex">
              <span>Cpf</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rg">
            <div class="d-flex">
              <span>Rg</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataNascimento">
            <div class="d-flex">
              <span>Data Nascimento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pessoaFisicaLicenca.id">
            <div class="d-flex">
              <span>Pessoa Fisica Licenca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoaFisica of pessoaFisicas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pessoa-fisica', pessoaFisica.id, 'view']">{{ pessoaFisica.id }}</a>
          </td>
          <td>{{ pessoaFisica.nomeCompleto }}</td>
          <td>{{ pessoaFisica.cpf }}</td>
          <td>{{ pessoaFisica.rg }}</td>
          <td>{{ pessoaFisica.dataNascimento | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="pessoaFisica.pessoaFisicaLicenca">
              <a [routerLink]="['/licenca', pessoaFisica.pessoaFisicaLicenca.id, 'view']">{{ pessoaFisica.pessoaFisicaLicenca.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pessoa-fisica', pessoaFisica.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pessoa-fisica', pessoaFisica.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(pessoaFisica)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
