<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="horarioTrabalho">
      <h2 data-cy="horarioTrabalhoDetailsHeading"><span>Horario Trabalho</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ horarioTrabalho.id }}</span>
        </dd>
        <dt><span>Codigo</span></dt>
        <dd>
          <span>{{ horarioTrabalho.codigo }}</span>
        </dd>
        <dt><span>Data Criacao</span></dt>
        <dd>
          <span>{{ horarioTrabalho.dataCriacao | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Descricao</span></dt>
        <dd>
          <span>{{ horarioTrabalho.descricao }}</span>
        </dd>
        <dt><span>Licenca</span></dt>
        <dd>
          <div *ngIf="horarioTrabalho.licenca">
            <a [routerLink]="['/licenca', horarioTrabalho.licenca.id, 'view']">{{ horarioTrabalho.licenca.id }}</a>
          </div>
        </dd>
        <dt><span>Usuario Criador</span></dt>
        <dd>
          <div *ngIf="horarioTrabalho.usuarioCriador">
            <a [routerLink]="['/usuario', horarioTrabalho.usuarioCriador.id, 'view']">{{ horarioTrabalho.usuarioCriador.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/horario-trabalho', horarioTrabalho.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
