<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pessoa">
      <h2 data-cy="pessoaDetailsHeading"><span>Pessoa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pessoa.id }}</span>
        </dd>
        <dt><span>Email 1</span></dt>
        <dd>
          <span>{{ pessoa.email1 }}</span>
        </dd>
        <dt><span>Telefone 1</span></dt>
        <dd>
          <span>{{ pessoa.telefone1 }}</span>
        </dd>
        <dt><span>Endereco</span></dt>
        <dd>
          <div *ngIf="pessoa.endereco">
            <a [routerLink]="['/endereco', pessoa.endereco.id, 'view']">{{ pessoa.endereco.id }}</a>
          </div>
        </dd>
        <dt><span>Licenca</span></dt>
        <dd>
          <div *ngIf="pessoa.licenca">
            <a [routerLink]="['/licenca', pessoa.licenca.id, 'view']">{{ pessoa.licenca.id }}</a>
          </div>
        </dd>
        <dt><span>Operadora Telefone 1</span></dt>
        <dd>
          <div *ngIf="pessoa.operadoraTelefone1">
            <a [routerLink]="['/operadora', pessoa.operadoraTelefone1.id, 'view']">{{ pessoa.operadoraTelefone1.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pessoa', pessoa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
