<div>
  <h2 id="page-heading" data-cy="IpLiberadoHeading">
    <span>Ip Liberados</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ip-liberado"
        [routerLink]="['/ip-liberado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Ip Liberado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ipLiberados?.length === 0">
    <span>No Ip Liberados found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ipLiberados && ipLiberados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codigo">
            <div class="d-flex">
              <span>Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataCriacao">
            <div class="d-flex">
              <span>Data Criacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <div class="d-flex">
              <span>Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipLiberado">
            <div class="d-flex">
              <span>Ip Liberado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="licenca.id">
            <div class="d-flex">
              <span>Licenca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usuarioCriador.id">
            <div class="d-flex">
              <span>Usuario Criador</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ipLiberado of ipLiberados; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ip-liberado', ipLiberado.id, 'view']">{{ ipLiberado.id }}</a>
          </td>
          <td>{{ ipLiberado.codigo }}</td>
          <td>{{ ipLiberado.dataCriacao | formatMediumDatetime }}</td>
          <td>{{ ipLiberado.descricao }}</td>
          <td>{{ ipLiberado.ipLiberado }}</td>
          <td>
            <div *ngIf="ipLiberado.licenca">
              <a [routerLink]="['/licenca', ipLiberado.licenca.id, 'view']">{{ ipLiberado.licenca.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ipLiberado.usuarioCriador">
              <a [routerLink]="['/usuario', ipLiberado.usuarioCriador.id, 'view']">{{ ipLiberado.usuarioCriador.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ip-liberado', ipLiberado.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ip-liberado', ipLiberado.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(ipLiberado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
